.card-img-top {
  height: 200px;
  object-fit: cover;
}
/* #display-meal .card {
  width: 70%;
  margin: 0 auto;
} */
.notfoundImg {
  width: 5em;
  /* margin: 0 auto; */
  /* display: block; */
}
.col .card {
  cursor: pointer;
}
.popUpCard {
  position: fixed;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.close {
  width: 40px;
  height: 40px;
  background: #ffffff3b;
  position: absolute;
  top: 35px;
  right: 35px;
  margin: 0 auto;
}
.close::before,
.close::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background: #000;
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 2.5px;
}
.close::after {
  transform: rotate(45deg);
}
.close::before {
  content: "";
  transform: rotate(130deg);
}
.modalDisplay {
  width: 100%;
  height: 100vh;
  background: rgb(0 0 0 / 40%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

@media (max-width: 992px) {
  .popUpCard {
    position: fixed;
    width: 95%;
    /* margin: 0 auto; */
    z-index: 110;
    top: 10px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0 auto;
    transform: translate(0px, 0px);
    height: 100% !important;
    overflow-y: scroll;
  }
}
